.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    min-width: 60vw;
    margin-top: 12vh;
    background-color: #f7f7f7;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}

.header {
    text-align: center;
}

.header h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid lightgray;
    color: #2d4f6a;
}

.header__image {
    height: 40vh;
    width: 100%;
}

.add__todo form{
    display: flex;
    flex-direction: column;
}

.add__todo form button {
    margin: 10px;
    padding: 5px 5px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    background-color: #2d4f6a;
}

.add__todo form button:hover {
    background-color: #76a4c3;
    color: #2d4f6a;
    cursor: pointer;
}

.add__todo form input{
    margin-top: 20px;
    font-size: 20px;
}

.footer {
    display: flex;
}

.todo__list {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid lightgray;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-top: 1rem;
    border-radius: 10px;
}

ul {
    text-decoration: none;
}

.home__logout {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 18px;
    border-radius: 3rem;
    margin: 1rem;
}

.home__logout:hover {
    background-color: #2d4f6a;
    color: white;
    cursor: pointer;
}